NEXT_PUBLIC_SUPABASE_URL=https://xxwnrndazlsnqrtcjkgl.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inh4d25ybmRhemxzbnFydGNqa2dsIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTA0NjU0MzQsImV4cCI6MjA2NjA0MTQzNH0.9sRDhv0oIlCp0rTzP8tUx4H7oFDl6jSv0054rBGajVc